@media (max-width : 576px) {
    .headline .headtext {
        text-align: center;
    }

    #about {
        display: none;
    }

    .headline a {
        margin-left: 150px;
    }
}

.nav-item a {
    background-color: #411CA3;
    border-radius: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

.headline {
    background-image: url("../img/bgorang.png");
    background-position-x: 370px;
    background-repeat: no-repeat;
}

/* Memberikan height pada image banner */
.spaces {
    height: 705px;
    margin-top: -100px;
}


/* Mengubah font */
body {
    font-family: 'bogart', 'buttler', sans-serif;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 700;
}

.nav-item a {
    font-size: 25px;
    font-weight: 500;
    color: #fff !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 200px;
}

.navbar-nav>li {
    margin-left: 30px;
    margin-right: 30px;
}

.headtext {
    text-transform: uppercase;
    padding-top: 250px;
    width: 503px;
}

.jumbotron .container {
    margin-left: 150px;
}

.headtext p {
    font-family: 'buttler';
    font-size: 25px;
}

.container.spaces button {
    margin-top: 50px;
}

.btn-warning {
    width: 252px;
    height: 60px;
    color: #fff;
    border-radius: 100px;
    font-family: 'bogart';
    font-weight: 500;
    font-size: 25px;

}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active {
    color: #fff;
}


/* Brand */

.brand {
    background-color: #411CA3;
    width: 100%;
    height: 426px;
    margin-top: -40px
}

.brand .text {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px;
}

.brand-main {
    padding-top: 50px;
}

.brand-content {
    padding: 50px;
}

.t {
    margin: 30px 20px 0
}


/* Menu */

.menu-content {
    text-align: center;
    padding: 100px 0;
    background-color: #411CA3;
    border-radius: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.kegiatan {
    background-color: #EEEEEE;
    color: #411CA3;
    margin-top: -10px;
    padding-bottom: 100px;
}

.kegiatan .t {
    color: #fff;
}

.kegiatan .headsection {
    font-size: 2em;
}


#menu {

    width: 100%;
    height: 787px;
    background-position-x: -8px;
    margin-top: -10px;
}

.main-menu {
    width: 100%;
    height: 787px;
}

#menu .headtext p {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}

#menu .thumb {
    background-color: #7f3c39;
    width: 260px;
    height: 243px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#menu .thumbtext {
    margin-top: 25px;
}

#menu .thumbtext h2,
#menu .thumbtext p {
    color: #fff;
}

#menu .thumbtext h2 {
    font-size: 25px;
}

#menu .thumbtext p {
    font-size: 20px;
    text-align: center;
}

.btn-success {
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 100px;
    font-family: 'bogart';
    font-weight: 500;
    font-size: 25px;

}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active {
    color: #fff;
}

#menu .main-menu {
    padding-top: 100px;
    padding-left: 100px;

}

#menu .menu-content {
    padding: 0 75px;
}

#menu .headsection {
    font-size: 30px;
    color: #411CA3;
    padding-top: 100px;
    font-weight: 500;
}

/* About */
#about {
    background-color: #EEEEEE;
    width: 100%;
    height: 787px;
    background-position-x: -8px;
    margin-top: -10px;

}

#about .develop .nav-link {
    width: 400px;
    height: 123px;
    background-color: #411CA3;
    color: #fff;
    border-radius: 4px;

}


#about .develop .nav-link:hover,
#about .develop .nav-link:active,
#about .develop .nav-link:focus {
    background-color: #170e31;
    color: #fff;

}

#about .develop .content .text .name {
    font-size: 20px;
    font-weight: 700;
}

#about .develop .content .text .desc {
    font-family: 'butler';
}

#about .develop {
    width: 100%;

}

#about .tab-pane {
    background-color: #411CA3;
    color: #fff;
    width: 674px;
    height: 500px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.btn-success {
    background-color: #411CA3 !important;
}

#about .tab-content .content {
    padding: 50px;
}

#about .tab-content .content h3.text-center {
    font-size: 25px;
    font-weight: 700;
}

#about .tab-content .content p {
    font-size: 20px;
    font-weight: 500;
    font-family: 'butler';
}

#about .main-about {
    padding-top: 50px;
}

#about .gap {
    padding: 40px 0;
}

#about .headsection {
    font-size: 30px;
    color: #fff;
    padding-top: 50px;
    font-weight: 500;
}

/* Footer */
#footer {
    width: 100%;
    height: 100px;
    background-color: #411CA3;
    margin-top: -10px;
}

#footer p {
    font-family: 'buttler';
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding-top: 40px;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 102, 203);
}

.jumbotron .headtext a {
    font-size: 22px;
}

#menu .main-menu {
    color: white;
    text-align: center;

}

#menu .menu-content h2 {
    padding-top: 15px;
}

#menu .thumb {
    background-color: #7f3c39;
}

#menu h2 {
    font-size: 25px;
    font-family: 'bogart';
}

#menu p {
    font-size: 20px;
    font-family: 'butler';
}

#menu .btn.yellow {
    background-color: #F0C055;
    border-color: #F0C055;

}

#menu .btn.yellow:hover,
#menu .btn.yellow:active,
#menu .btn.yellow:focus {
    background-color: #f3b839;
}

#menu .btn.green {
    background-color: #118995;
    border-color: #118995;

}

#menu .btn.green:hover,
#menu .btn.green:active,
#menu .btn.green:focus {
    background-color: #056f79;
}


.headsection {
    margin-right: -100px;
}



@media only screen and (max-width: 1200px) {
    .brand img {
        width: 200px;
    }

    #menu {
        height: 100vh;
    }

    #about {
        padding: 200px 0;
        background-color: #7f3c39;
    }

    #menu-content {
        padding: 500px;
    }
}

@media only screen and (max-width: 992px) {
    .brand img {
        width: 150px;
    }

    .brand {
        padding-top: 50px;
    }


}

@media only screen and (max-width: 768px) {
    .brand img {
        width: 100px;
    }


}

@media only screen and (max-width: 500px) {
    .brand img {
        width: 50px;
    }
}
